---
interface Props {
  id: string;
}

const { id, ...attributes } = Astro.props;
---

<div class="border rounded shadow-2xl shadow-indigo-500/10">
  <video id={id} class="aspect-video w-full" autoplay muted {...attributes}>
    Your browser does not support the video tag.
  </video>
</div>
